[submodule "east"]
	path = east
	url = git@github.com:elaraai/East
[submodule "East.jl"]
	path = East.jl
	url = git@github.com:elaraai/East.jl
[submodule "east-py"]
	path = east-py
	url = git@github.com:elaraai/east-py
[submodule "east-node"]
	path = east-node
	url = git@github.com:elaraai/east-node
[submodule "east-node-io"]
	path = east-node-io
	url = git@github.com:elaraai/east-node-io
[submodule "east-py-io"]
	path = east-py-io
	url = git@github.com:elaraai/east-py-io
[submodule "east-py-std"]
	path = east-py-std
	url = git@github.com:elaraai/east-py-std
[submodule "east-mcp"]
	path = east-mcp
	url = git@github.com:elaraai/east-mcp
[submodule "east-plugin"]
	path = east-plugin
	url = git@github.com:elaraai/east-plugin
