# JavaScript/TypeScript
node_modules/
dist/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.package/
.e3
# Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# e3 repositories
.e3/

# CI checkout directories
east-py/

# Logs
*.log

# Local registry (Verdaccio)
.npmrc
